#navigation {
    display: flex;
    flex-direction: column;
    padding-top: 5rem;
    width: 250px;
    min-height: 90vh;
    background-color: #f2f2f2;
    
    @media screen and (max-width: 900px) {
        width: 50px;
    }
    
    
    .nav-list {
        display: inherit;
        
        @media screen and (max-width: 900px) {
            justify-content: center;
        }

        .icon {
            align-self: center;
            margin-right: 2rem;
            font-size: 20px;
            padding: 5px;
            
            a {
                color: #b0b0b0;
                
                &:hover {
                    color: #58a6ff;
                    cursor: pointer;
                    transition: all 0.2s ease-in-out;
                }
            }

        }

        li {
            list-style: none;
            font-weight: 700;
            line-height: 3rem;
            color: #adadad;

            a {
                text-decoration: none;
                color: #b0b0b0;
                vertical-align: middle;

                &:hover {
                    color: #58a6ff;
                }
            }

            

            @media screen and (max-width: 900px){
                display: none;
            }
        }
    }

}